body {
  font-family: "Cinzel";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primario:rgb(5, 88, 130);
  --color-secundario: rgb(225, 214, 10);
}

header {
  background:linear-gradient(to top, black,rgb(32, 32, 32),var(--color-primario));
  padding: 1em 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(0.25turn, black,var(--color-secundario),black);
  border-image-slice: 1;
}

header .logo{
  width: 200px;
  height: 50px;
  margin: 0 25px ;
}

header .logo img{
  width: 100%;
  height: 100%;
}

nav{
  margin: 0 50px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: var(--color-secundario);
  text-decoration: none;
  font-size: 25px;
}

main {
  text-align: center;
  
  
}

.intro { 
  width: 100%;
  height: 90vh;
  background-image: url(../assets/castillo\ \(1\).jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
 background-color: black;
 color: aliceblue;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.intro .escudo{
  width: 300px;
  height: 300px; 
  margin-top: 25px;
  margin-bottom: 10px; 
  animation: fade 3s forwards, pulse 3s forwards ;
  
 
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

.intro .escudo img{
  width: 100%;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.907));
  
}

.intro h1{
  font-size: 60px;
  text-shadow: 2px 3px 0px black,
  0 0 2em rgb(105, 4, 247),
  0 0 0.3em rgb(8, 255, 226); 
  color: white;
  font-family:"Harry Potter";
  font-weight: 400;
  font-style: normal;
  animation: fade 3s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.intro p{
  font-size: 35px;
  text-shadow: 2px 2px 0px black,
  0 0 2em rgb(105, 4, 247),
  0 0 0.3em rgb(8, 255, 226); 
  color: var(--color-secundario);
  animation: fade 4s forwards ;
  animation-delay: 1.5s;
  opacity: 0;
}


footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  bottom: 0;
}


@media (max-width:480px){

  nav ul li a {
    font-size:15px ;
  }

  .intro .escudo{
    width: 200px;
    height: 200px; 
  }
  .intro h1{
    font-size: 35px;
  }

  .intro p{
    font-size: 20px;
  }
}
